.logo-title {
  font-family: 'Averia Serif Libre';
  @apply hidden sm:inline-block text-4xl whitespace-nowrap;
}

.menu {
  font-family: 'Helvetica';
  @apply font-bold hidden lg:flex lg:flex-row lg:gap-5;
}

.menu ul li {
  @apply whitespace-nowrap hover:cursor-pointer text-neutral-500 hover:text-black;
}

.icon {
  @apply absolute hover:cursor-pointer;
}

.icon-circle-background {
  @apply relative rounded-full flex flex-row items-center justify-center;
}

.icon-circle-grow::before {
  content: '';
  position: absolute;
  transform: scale(0);
  transition: 250ms transform;
  transform-origin: center;
  @apply bg-neutral-200 w-0 h-0 rounded-full;
}

.icon-circle-grow:hover::before {
  cursor: pointer;
  transform: scale(1);
  @apply h-full w-full;
}

.icon-list {
  @apply icon-circle-background icon-circle-grow w-10 h-10;
}

.cart-count {
  @apply icon-circle-background absolute bg-black text-white w-6 h-6 -top-4 -right-5 text-xs font-normal hover:cursor-pointer;
}
